.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: 240px;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 3px solid var(--front-color);
    border-radius: 1rem;
    box-shadow: 0 0 .8rem var(--shadow);
    background-color: var((--back-color));
    transition: transform .2s;
}

.card:hover {
    transform: perspective(1000px) scale(1.05);
}

.card-title {
    font-size: 1.4rem;
    font-weight: 900;
}

.card-img {
    width: 10rem;
    width: auto;
    height: 10rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}